:root {
  --primary: #c2b2b4;
  --secondary: #2a4849;
  --tertiary: #5c5e74;
  --quaternary: #4adbc8;
  --quinary: #394241;
}

@font-face {
    font-family: 'plus-Jakarta-Sans';
    src: url('/fonts/PlusJakartaSans-ExtraLight.woff2') format('woff2'),
        url('/fonts/PlusJakartaSans-ExtraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'plus-Jakarta-Sans';
    src: url('/fonts/PlusJakartaSans-Medium.woff2') format('woff2'),
        url('/fonts/PlusJakartaSans-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'plus-Jakarta-Sans';
    src: url('/fonts/PlusJakartaSans-Light.woff2') format('woff2'),
        url('/fonts/PlusJakartaSans-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'plus-Jakarta-Sans';
    src: url('/fonts/PlusJakartaSans-Regular.woff2') format('woff2'),
        url('/fonts/PlusJakartaSans-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'plus-Jakarta-Sans';
    src: url('/fonts/PlusJakartaSans-Bold.woff2') format('woff2'),
        url('/fonts/PlusJakartaSans-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'plus-Jakarta-Sans';
    src: url('/fonts/PlusJakartaSans-ExtraBold.woff2') format('woff2'),
        url('/fonts/PlusJakartaSans-ExtraBold.woff') format('woff');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'plus-Jakarta-Sans';
    src: url('/fonts/PlusJakartaSans-Regular.woff2') format('woff2'),
        url('/fonts/PlusJakartaSans-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

a{
  font-family: 'plus-Jakarta-Sans', sans-serif;
  text-decoration: none;
  color: white;
  transition: 0.3s;
  position: relative;
  z-index: 25;
}

a:hover{
  opacity: 0.5;
}


body {
  margin: 0;
  overflow-x: hidden;
  background-color: var(--primary);
}

footer{
  background-color: var(--secondary);
  padding: 1rem 0.94rem;
}

form{
  display: flex;
  flex-direction: column;
  max-width: 30rem;
  margin: auto;
  background-color: rgba(255, 255, 255, 0.1);
  padding: 1rem;
}

input, textarea{
  font-family: 'plus-Jakarta-Sans', sans-serif;
  font-weight: bold;
  border: none;
  border-bottom: 1px solid rgb(255, 255, 255, 0.2);
  padding: 0 20px 10px 0;
}

input[type=email], input[type=text], input[type=file], input[type=date], input[type=phone], textarea, select, input[type=tel], input[type=number]{
  background-color: rgba(255, 255, 255, 0);
  color: white;
  margin-bottom: 2rem;
}

input[type=email], input[type=button] {
-webkit-appearance: none;
-webkit-border-radius: 0;
}
input[type=submit]{
  border-radius: 4px;
  padding: 1.128rem 2rem;
  max-width: 8rem;
  letter-spacing: 2.24px;
}



input:focus, textarea:focus, select:focus{
        outline: none;
}

label{
  color: white;
  opacity: 0.8;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 1rem 1rem 0;
}

h1, h2, h3, h4, h5, h6{
  font-family: 'plus-Jakarta-Sans', sans-serif;
}

h1{
  font-size: 2rem;
}

html{
  overflow-x: hidden;
  scroll-behavior: smooth;
}

option{
  background-color: var(--secondary);
}

p{
  letter-spacing: 1.6px;
  font-family: 'plus-Jakarta-Sans', sans-serif;
}

section {
  position: relative;
}


.aqua-text{
  color: var(--quaternary);
  font-size: 1.125rem;
}

.application{
  background-color: var(--secondary);
  padding: 2rem 0.94rem;
}

.application--div{
  max-width: 50rem;
  margin: auto;
}

.application p, .application h2{
  color: white;
}
.application>div>p, .application h2{
  text-align: center;
  max-width: 30rem;
  margin: 1rem auto;
  display: block;
}
.application p{
  opacity: 0.6;
}

.btn-main{
  background-color: var(--quaternary);
  padding: 0.8rem 1.2rem;
  border-radius: 8px;
  color: white;
  text-decoration: none;
  letter-spacing: 1.6px;
  margin: 0 0.3rem;
}

.buttons{
  margin: 5rem auto;
  max-width: 20rem;
}

.button{
  margin: 3rem auto;
  max-width: 11rem;
}

.card-parent{
  padding: 2rem 0;
}

.card{
  background-color: rgba(255, 255, 255, 0.2);
  padding: 1rem;
  border-radius: 8px;
  margin: 1rem 0;
}

.details a{
  text-align: center;
  display: block;
  opacity: 0.6;
}

.downloads{
  background-color: var(--quaternary);
  padding: 2rem 0.94rem;
}
.downloads a{
  background-color: var(--secondary);
  text-align: center;
  width: 13rem;
  padding: 0.8rem 1.2rem;
  border-radius: 8px;
  color: white;
  text-decoration: none;
  letter-spacing: 1.6px;
  display: block;
  margin: 0.8rem auto;
}
.downloads div{
  width: 100%;
}
.downloads h2{
  text-align: center;
  color: var(--secondary);
}

.footer-div{
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.footer-menu{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 1rem auto;
}
.footer-menu a{
  opacity: 0.6;
}

.form{
  background-color: var(--quaternary);
  padding: 2rem 0.94rem;
}
.form h2{
  color: white;
  text-align: center;
  margin: 2rem auto;
}

.hamburger{
  margin-top: 1rem;
  position: relative;
  z-index: 10;
}

.hero{
  position: relative;
  top: -6.9rem;
  height: 95vh;
  opacity: 0.5;
  margin-bottom: -6.9rem;
  min-height: 36rem;
}

.hero img{
  object-fit: contain;
  height: 100%;
}

.list{
  background-color: var(--quaternary);
  padding: 2rem 0.94rem;
}
.list h2, .list h3, .list p{
  color: var(--secondary);
  letter-spacing: 1px;
}
.list p{
  opacity: 0.6;
}
.list a{
  letter-spacing: 1.5px;
}

.logo img{
  height: 5.5rem;
  position: relative;
  z-index: 10;
}
footer .logo img{
  margin: auto;
  display: inherit;
}

.help{
  padding: 2rem 0.94rem;
  margin-top: -6.9rem;
}
.help h2{
  text-align: center;
  color: white;
}
.help h3{
  text-align: center;
  color: var(--secondary);
}
.help p{
  opacity: 0.8;
  max-width: 30rem;
  margin: 1.5rem auto;
}

.hero-text{
  position: absolute;
  left: 0;
  right: 0;
  top: 5rem;
  margin: auto;
}

.hero-text h1{
  color: white;
  text-align: center;
  max-width: 15rem;
  margin: 2rem auto 0;

}

.hero-text p{
  color: white;
  text-align: center;
  max-width: 15rem;
  margin: 2rem auto 0;
}

.info{
  background-color: var(--secondary);
  padding: 2rem 0.94rem;
}

.info p, .info h2{
  color: white;
}
.info p, .info h2, .info a{
  text-align: center;
  display: block;
}
.info>div div{
  margin: 4rem 0;
}
.info p, .info a{
  opacity: 0.8;
}


.introduction{
  padding: 0 0.94rem;
  margin-top: -5rem;
}
.introduction h2, .introduction p{
  text-align: center;

}
.introduction p{
  opacity: 0.7;
}

.login{
  background-color: var(--secondary);
  padding: 3rem 0.94rem;
}
.login h1, .login p{
  color: white;
  text-align: center;
}
.login p{
  opacity: 0.6;
}

.menu{
  display: none;
}

.menu ul, .mobile-menu ul{
  list-style-type: none;
}

.menu-header{
  display: flex;
  justify-content: space-between;
  padding: 1.5rem 1rem;
}

.menu-items{
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
}

.menu-items a{
  text-align: center;
  font-size: 1.69rem;
  text-decoration: none;
  font-family: 'plus-Jakarta-Sans', sans-serif;
  font-weight: bold;
  color: var(--tertiary);
  margin: 1rem 0;
}

.mobile-menu{
  width: 0;
  height: 0;
  background-color: white;
  position: absolute;
  opacity: 0;
  left: 0;
  top: 0;
  transition: 0.3s;
  z-index: 26;
}

.name{
  font-weight: bold;
}

.neighbor-img{
  width: 80%;
  margin: 1rem auto;
  display: block;
}

.opportunities{
  background-color: var(--tertiary);
  padding: 2rem 1.94rem;
}

.opportunities img{
  max-width: 60%;
  margin: auto;
  display: block;
}
.opportunities h2{
  text-align: center;
  color: white;
}
.opportunities p{
  color: white;
  opacity: 0.6;
  max-width: 30rem;
  margin: 1.5rem auto;
}

.password{
  max-width: 20rem;
}

.situation{
  background-color: var(--secondary);
  padding: 3rem 0.94rem;
}
.situation h2{
  color: white;
  text-align: center;
}

.sit-text p{
  color: white;
  opacity: 0.6;
  margin-left: 3rem;
  position: relative;
  max-width: 30rem;
  margin: 1.5rem auto;
}

.success{
  height: 95vh;
  padding: 4rem 0.94rem;
}

.success div{
  max-width: 50rem;
  margin: auto;
}

.update-content{
  background-color: var(--tertiary);
  padding: 2rem 0.94rem;

}
.update-content p{
  color: white;
  opacity: 0.6;
}

#update-hero{
  height: 70vh;
  background-color: var(--tertiary);
}

.vision{
  background-color: var(--tertiary);
  padding: 1rem 0.94rem 3rem;
  position: relative;
}

.vision::after{
  content: "E4";
  font-size: 300px;
  opacity: 0.15;
  color: white;
  font-weight: bold;
  position: absolute;
  top: 30%;
  left: 0;
  right: 0;
  width: 360px;
  margin: auto;
  font-family: 'plus-Jakarta-Sans', sans-serif;
}

.white-text h2, .white-text p, .white-text h3{
  color: white;
  text-align: center;
}


@media only screen and (min-width: 768px){

a, p {
  font-size: 1.125rem;
}

  h1{
    font-size: 3rem;
  }

  h2{
    font-size: 2rem;
  }
  h3{
    font-size: 1.8rem;
  }

  .aqua-text{
    font-size: 1.25;
  }

  .buttons{
    max-width: 21rem;
  }
  .card{
    max-width: 35rem;
    margin: 1rem auto;
  }

  .downloads a{
    width: 15rem;
  }

.hero{

  top: -8.9rem;
  margin-bottom: -8.9rem;
}

.hero img{
  position: absolute;
  right: 0;
}

.hero-text h1{
  max-width: 25rem;
}



.logo img{
  height: 7.5rem;
}

.list p, .list h2, .list h3{
  text-align: center;
}
.list a{
  text-align: center;
  display: block;
}

.points{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 1rem;
  margin: 1rem;
}

.vision::after{
  font-size: 450px;
  top: 5%;
  width: 540px;
}


}

@media only screen and (min-width: 1024px){

  form{
    max-width: 55rem;
  }

  .details{
    margin-top: 2rem;
  }

  .downloads div{
    width: 90%;
    display: flex;
    margin: 0 auto 2rem;
  }

  .footer-div, .footer-menu{
    flex-direction: row;
  }
  .footer-div div{
    min-width: 25%;
  }
  .footer-menu a{
    margin: 2rem 1rem;
  }

  .hamburger{
    display: none;
  }

  .hero{
    top: -9.9rem
  }
  .hero-text{
    right: 50%;
    left: 5rem;
    top: 0;
  }

  .logo img{
    height: 8.5rem;
  }

  .menu{
    display: flex;
    flex-direction: row;
    z-index: 15;
    right: 5%;
    position: relative;
  }

  .menu ul{
    display: flex;
      flex-direction: row;
  }

  .menu li{
    margin: 1rem 1rem;
    font-size: 1.875rem;
  }

  .menu a{
    text-decoration: none;
    color: white;
    margin: 0 0.5rem;
    font-family: 'plus-Jakarta-Sans', sans-serif;
    font-size: 1rem;
    font-weight: bold;
  }

  #update-hero{
    margin-bottom: -9.9rem;
  }
  #update-text{
    left: 0;
    right: 0;
  }

  .vision p{
    max-width: 37rem;
    margin: 2rem auto;
  }

  .vision::after{
    font-size: 550px;
    width: 690px;
    opacity: 0.10;
  }

  .who-we-are{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 1rem 2rem 3rem;
  }
}

@media only screen and (min-width: 1280px){

  h1{
    font-size: 4rem;
  }
  h2{
    font-size: 3rem;
  }
  h3{
    font-size: 2.5rem;
  }

  a, p{
    font-size: 1.25rem;
  }

  .buttons{
    max-width: 22rem;
  }

  .card{
    width: 100%;
  }

  .card-parent{
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .downloads div{
    width: 75%;
  }

  .hero img{
    object-fit: cover;
    width: 70vw;
  }

  .hero{
    top: -12.9rem;
  }

  .info>div{
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .logo img{
    height: 10.5rem;
  }

  .log-h1{
    font-size: 2.5rem;
  }

  .menu li{
    margin: 1rem 2rem;
  }

  .opportunities img{
    max-width: 20%;
  }

  .sit-text, .op-text, .help-items{
    margin: 0 3rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 3.5rem;
  }

  #update-hero{
    margin-bottom: -12.9rem;
  }

  .who-we-are{
    padding-left: 10vw;
    padding-right: 10vw;
  }
}

@media only screen and (min-width: 1920px){

  h1{
    font-size: 5rem;
  }
  h2{
    font-size: 4rem;
  }
  h3{
    font-size: 3.2rem;
  }
  p, a{
    font-size: 1.5rem;

  }

  .aqua-text{
    font-size: 1.75rem;
  }

  .card-parent{
    grid-template-columns: 1fr 1fr 1fr;
  }

  .downloads a{
    width: 18rem;
  }
  .downloads div{
    width: 60%
  }

  .hero-text h1{
    max-width: 34rem
  }

  .log-h1{
    font-size: 3rem;
  }

  .button{
    max-width: 12rem;
  }

  .buttons{
    max-width: 25rem;
  }

  .hero-text{
    top: 5rem;
  }

  .menu li{
    margin: 1rem 3rem;
  }
}
