:root {
  --primary: #c2b2b4;
  --secondary: #2a4849;
  --tertiary: #5c5e74;
  --quaternary: #4adbc8;
  --quinary: #394241;
}

@font-face {
    font-family: 'plus-Jakarta-Sans';
    src: url('/fonts/PlusJakartaSans-ExtraLight.woff2') format('woff2'),
        url('/fonts/PlusJakartaSans-ExtraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'plus-Jakarta-Sans';
    src: url('/fonts/PlusJakartaSans-Medium.woff2') format('woff2'),
        url('/fonts/PlusJakartaSans-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'plus-Jakarta-Sans';
    src: url('/fonts/PlusJakartaSans-Light.woff2') format('woff2'),
        url('/fonts/PlusJakartaSans-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'plus-Jakarta-Sans';
    src: url('/fonts/PlusJakartaSans-Regular.woff2') format('woff2'),
        url('/fonts/PlusJakartaSans-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'plus-Jakarta-Sans';
    src: url('/fonts/PlusJakartaSans-Bold.woff2') format('woff2'),
        url('/fonts/PlusJakartaSans-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'plus-Jakarta-Sans';
    src: url('/fonts/PlusJakartaSans-ExtraBold.woff2') format('woff2'),
        url('/fonts/PlusJakartaSans-ExtraBold.woff') format('woff');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'plus-Jakarta-Sans';
    src: url('/fonts/Butler.woff2') format('woff2'),
        url('/fonts/Butler.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

a{
  font-family: 'plus-Jakarta-Sans', sans-serif;
  text-decoration: none;
  color: white;
  transition: 0.3s;
}

a:hover{
  opacity: 0.5;
}


body {
  margin: 0;
  overflow-x: hidden;
  background-color: var(--primary);
}

footer{
  background-color: var(--secondary);
  padding: 1rem 0.94rem;
}



header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 1rem 1rem 0;
}

h1, h2, h3, h4, h5, h6{
  font-family: 'plus-Jakarta-Sans', sans-serif;
}

h1{
  font-size: 2rem;
}

html{
  overflow-x: hidden;
  scroll-behavior: smooth;
}

p{
  letter-spacing: 1.6px;
  font-family: 'plus-Jakarta-Sans', sans-serif;
}

section {
  position: relative;
}

.aqua-text{
  color: var(--quaternary);
  font-size: 1.125rem;
}

.btn-main{
  background-color: var(--quaternary);
  padding: 0.8rem 1.2rem;
  border-radius: 8px;
  color: white;
  text-decoration: none;
  letter-spacing: 1.6px;
  margin: 0 0.3rem;
}

.buttons{
  margin: 5rem auto;
  max-width: 18rem;
}

.button{
  margin: 3rem auto;
  max-width: 11rem;
}

.details a{
  text-align: center;
  display: block;
}

.footer-div{
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.footer-menu{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 1rem auto;
}

.hamburger{
  margin-top: 1rem;
  position: relative;
  z-index: 10;
}

.hero{
  position: relative;
  top: -5.9rem;
  height: 95vh;
  opacity: 0.5;

}

.hero img{
  object-fit: contain;
  height: 100%;
}

.logo img{
  height: 4.5rem;
  position: relative;
  z-index: 10;
}
footer .logo img{
  margin: auto;
  display: inherit;
}

.hero-text{
  position: absolute;
  left: 0;
  right: 0;
  top: 5rem;
  margin: auto;
}

.hero-text h1{
  color: white;
  text-align: center;
  max-width: 15rem;
  margin: 2rem auto 0;

}

.hero-text p{
  color: white;
  text-align: center;
  max-width: 15rem;
  margin: 2rem auto 0;
}


.introduction{
  padding: 0 0.94rem;
  margin-top: -5rem;
}
.introduction h2, .introduction p{
  text-align: center;

}
.introduction p{
  opacity: 0.7;
}

.menu{
  display: none;
}

.menu ul, .mobile-menu ul{
  list-style-type: none;
}

.menu-header{
  display: flex;
  justify-content: space-between;
  padding: 1.5rem 1rem;
}

.menu-items{
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
}

.menu-items a{
  text-align: center;
  font-size: 1.69rem;
  text-decoration: none;
  font-family: 'plus-Jakarta-Sans', sans-serif;
  font-weight: bold;
  color: var(--tertiary);
  margin: 1rem 0;
}

.mobile-menu{
  width: 0;
  height: 0;
  background-color: white;
  position: absolute;
  opacity: 0;
  left: 0;
  top: 0;
  transition: 0.3s;
  z-index: 10;
}

.neighbor-img{
  width: 80%;
  margin: 1rem auto;
  display: block;
}

.situation{
  background-color: var(--secondary);
  padding: 3rem 0.94rem;
  top: -5.9rem;
}
.situation h2{
  color: white;
  text-align: center;
}

.sit-text p{
  color: white;
  opacity: 0.6;
}

.vision{
  background-color: var(--tertiary);
  padding: 1rem 0.94rem;
  position: relative;
}

.vision::after{
  content: "E4";
  font-size: 300px;
  opacity: 0.15;
  color: white;
  font-weight: bold;
  position: absolute;
  top: 34%;
  left: 0;
  right: 0;
  width: 360px;
  margin: auto;
  font-family: 'plus-Jakarta-Sans', sans-serif;
}

.white-text h2, .white-text p{
  color: white;
  text-align: center;
}


@media only screen and (min-width: 768px){

a, p {
  font-size: 1.125rem;
}

  h1{
    font-size: 3rem;
  }

  h2{
    font-size: 2rem;
  }

  .aqua-text{
    font-size: 1.25;
  }

  .buttons{
    max-width: 19rem;
  }

.hero{

  top: -7.9rem;
}

.hero img{
  position: absolute;
  right: 0;
}

.hero-text h1{
  max-width: 25rem;
}

.hero-text{
  right: 50%;
  left: 5rem;
}

.logo img{
  height: 6.5rem;
}

.points{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 1rem;
  margin: 1rem;
}

.vision::after{
  font-size: 450px;
  top: 10%;
  width: 540px;
}


}

@media only screen and (min-width: 1024px){

  .details{
    margin-top: 2rem;
  }

  .footer-div, .footer-menu{
    flex-direction: row;
  }
  .footer-menu a{
    margin: 2rem 1rem;
  }

  .hamburger{
    display: none;
  }

  .hero{

  }

  .menu{
    display: flex;
    flex-direction: row;
    z-index: 15;
    right: 5%;
    position: relative;
  }

  .menu ul{
    display: flex;
      flex-direction: row;
  }

  .menu li{
    margin: 1rem 3rem;
    font-size: 1.875rem;
  }

  .menu a{
    text-decoration: none;
    color: white;
    margin: 0 1.5rem;
    font-family: 'plus-Jakarta-Sans', sans-serif;
    font-size: 1rem;
    font-weight: bold;
  }

  .vision p{
    max-width: 37rem;
    margin: 2rem auto;
  }

  .vision::after{
    font-size: 650px;
    width: 845px;
    opacity: 0.10;
  }

  .who-we-are{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 1rem 2rem 3rem;
  }
}

@media only screen and (min-width: 1280px){

  h1{
    font-size: 4rem;
  }
  h2{
    font-size: 3rem;
  }

  a, p{
    font-size: 1.25rem;
  }

  .buttons{
    max-width: 20rem;
  }

  .hero img{
    object-fit: cover;
    width: 70vw;
  }

  .hero{
    top: -10.9rem;
  }

  .logo img{
    height: 9.5rem;
  }

  .who-we-are{
    padding-left: 10vw;
    padding-right: 10vw;
  }
}

@media only screen and (min-width: 1920px){

  h1{
    font-size: 5rem;
  }
  h2{
    font-size: 4rem;
  }
  p, a{
    font-size: 1.5rem;

  }

  .aqua-text{
    font-size: 1.75rem;
  }

  .hero-text h1{
    max-width: 34rem
  }

  .buttons{
    max-width: 22rem;
  }

  .hero-text{
    top: 15rem;
  }
}
