
{{ define "main" }}
<section>
<div class="">
  <div class="hero">
    <picture class="">
      <source srcset="/images/city.webp" type="image/webp">
      <source srcset="/images/city.jpg" type="image/jpg">
      <img src="/images/city.jpg" alt="city" class="">
    </picture>
  </div>
  <div class="hero-text">
      <h1>ARC Ministry Current Projects</h1>
      <p>In 2022, the USA is committed to accepting 125,000 refugees.</p>
      <div class="button">
        <a href="#more-info" class="btn-main">More Info</a>
      </div>
  </div>
</div>
</section>
<section id="more-info">
  <div class="list">
    {{ range .Pages }}
       <div class="card">
         <h2>{{.Title}}</h2>
         <p>{{ .Params.shortdescription }}</p>
         <a href="{{.Permalink}}">Learn More</a>
       </div>
    {{ end }}
  </div>
</section>
{{ end }}
