
{{ define "main" }}
<section>
  <div class="">
    <div class="hero">
      <picture class="">
        <source srcset="{{ .Params.thumbnailwebp}}" type="image/webp">
        <source srcset="{{ .Params.thumbnailjpg }}" type="image/jpg">
        <img src="{{ .Params.thumbnailjpg }}" alt="helping refugees" class="">
      </picture>
    </div>
    <div class="hero-text">
        <h1>{{ .Title }}</h1>
        <p>{{ .Params.shortdescription }}</p>
        <div class="button">
          <a href="#opportunities" class="btn-main">Opportunities</a>
        </div>
    </div>
  </div>
</section>
<section class="situation">
  <h2>The Situation</h2>
  <div class="sit-text">
    <p class="one">{{ .Params.situation1 }}</p>
    <p class="two">{{ .Params.situation2 }}</p>
    <p class="three">{{ .Params.situation3 }}</p>
  </div>
</section>

<section class="opportunities" id="opportunities">
  <h2>The Opportunities To Help</h2>
  <img src="/images/eating.svg" alt="helping others">
  <div class="op-text">
    <p>{{ .Params.opportunities1 }}</p>
    <p>{{ .Params.opportunities2 }}</p>
    <p>{{ .Params.opportunities3 }}</p>
  </div>

  <div>
  <div><div style="
  overflow: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  width: 259px;
  margin:  4rem auto;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: -2px 10px 5px rgba(0, 0, 0, 0);
  border-radius: 10px;
  font-family: SQ Market, SQ Market, Helvetica, Arial, sans-serif;
  ">
  <div style="padding: 20px;">
  <p style="
    display: none;
  ">Support the Minneapolis Work</p>
  <p style="
    display: none;
  ">Entered by customer</p>
  <a target="_blank" data-url="https://square.link/u/oSwFU9Tl?src=embd" href="https://square.link/u/oSwFU9Tl?src=embed" style="
    display: inline-block;
    font-size: 18px;
    line-height: 48px;
    height: 48px;
    color: #ffffff;
    min-width: 212px;
    background-color: #4adbc8;
    text-align: center;
    box-shadow: 0 0 0 1px rgba(0,0,0,.1) inset;
    border-radius: 6px;
  ">Donate</a>
  </div>
</div>
</div>

  <script>
    function showCheckoutWindow(e) {
      e.preventDefault();

      const url = document.getElementById('embedded-checkout-modal-checkout-button').getAttribute('data-url');
      const title = 'Square Online Checkout';

      // Some platforms embed in an iframe, so we want to top window to calculate sizes correctly
      const topWindow = window.top ? window.top : window;

      // Fixes dual-screen position                                Most browsers          Firefox
      const dualScreenLeft = topWindow.screenLeft !==  undefined ? topWindow.screenLeft : topWindow.screenX;
      const dualScreenTop = topWindow.screenTop !==  undefined   ? topWindow.screenTop  : topWindow.screenY;

      const width = topWindow.innerWidth ? topWindow.innerWidth : document.documentElement.clientWidth ? document.documentElement.clientWidth : screen.width;
      const height = topWindow.innerHeight ? topWindow.innerHeight : document.documentElement.clientHeight ? document.documentElement.clientHeight : screen.height;

      const h = height * .75;
      const w = 500;

      const systemZoom = width / topWindow.screen.availWidth;
      const left = (width - w) / 2 / systemZoom + dualScreenLeft;
      const top = (height - h) / 2 / systemZoom + dualScreenTop;
      const newWindow = window.open(url, title, `scrollbars=yes, width=${w / systemZoom}, height=${h / systemZoom}, top=${top}, left=${left}`);

      if (window.focus) newWindow.focus();
    }

    // This overrides the default checkout button click handler to show the embed modal
    // instead of opening a new tab with the given link url
    document.getElementById('embedded-checkout-modal-checkout-button').addEventListener('click', function (e) {
      showCheckoutWindow(e);
    });
  </script>
</div>
</section>
{{ end }}
